@import url(https://fonts.googleapis.com/css?family=Lobster);

body{
    width: 100%;
    height: 100%;
    background-color: #20FC8F;
    opacity: 0.9;
    z-index: -10;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 4.3em;
    color: white;
}

.body-container {
    width: 300px;
    margin: 0 auto;
    z-index: 1;
}

.title-container {
    /*width: 400px;*/
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

.stretch {
    width:300px;
    position: relative;
   z-index: -1;
   margin: 0 auto;
   text-align: center;
}

.lower-body-div, .mid-body-div, .upper-body-div {
    width:300px;
    height:240px;
    position:absolute;
    top: 120px;
}
.mid-body-div {
    top: 360px;
}
.upper-body-div {
    height: 260px;
    top: 600px;
}

.disclaimer-container {
    width: 300px;
    margin: 0 auto;
    text-align: right;
}

.close {
  float: right;
  margin: 0;
}
